<header>
<h1><a href="/"><%= image_tag('prism-logo.png') %></a></h1>
<p class="description">Prism tagline/short description here. Thundercats Austin free range jean shorts fixie put a bird on it plaid.</p>

<nav role="primary-nav">
  <ul>
    <li><%= link_to 'Home', :root %></li>
    <li><%= link_to "Instructions", :controller => "pages", :action => "instructions" %></li>
    <li><%= link_to "Documents", :controller => "documents", :action => "index" %></li>
    <li><%= link_to "About", :controller => "pages", :action => "about" %></li>
  </ul>
</nav>

</header>
